apiai==1.2.3
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
dill==0.2.7.1
enum34==1.1.6
future==0.16.0
google-api-core==0.1.4
google-assistant-grpc==0.1.0
google-assistant-library==0.1.1
google-auth==1.0.1
google-auth-oauthlib==0.2.0
google-cloud-core==0.28.1
google-cloud-speech==0.30.0
google-gax==0.15.16
googleapis-common-protos==1.5.3
grpcio==1.10.0
idna==2.6
numpy==1.14.2
oauthlib==2.0.7
ply==3.8
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pytz==2018.3
requests==2.14.2
requests-oauthlib==0.8.0
RPi.GPIO==0.6.3
rsa==3.4.2
six==1.11.0
urllib3==1.22
